<nav class="navbar">
  <div class="left-side-buttons">
    <button routerLinkAcive="active"><a routerLink="/home">Home</a></button>
    <button routerLinkAcive="active"><a routerLink="/basket">Basket</a></button>
  </div>
  <div class="right-side-button">
    <button routerLinkAcive="active">
      <a routerLink="/profile">Profile</a>
    </button>
  </div>
</nav>
<div class="space-for-pics">
  <img src="/assets/images/make-up-one.jpg" />
  <img src="/assets/images/make-up-two.jpg" />
  <img src="/assets/images/make-up-three.jpg" />
</div>
