@import "../../styles.css";

.item-container{
  border: 5px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--item-background-color);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
height: auto;





}
