<p *ngIf="isLoading; else notLoading">...Is Loading</p>
<ng-template #notLoading>
  <div *ngIf="!filter; else noFilters" class="search-button-container">
    <button class="search-button" (click)="searchAllProducts()">
      Search All Products
    </button>
    <button (click)="showFilters()"><span>&#8609;</span>Apply Filters</button>
  </div>
  <ng-template #noFilters>
    <button (click)="showFilters()"><span>&#8609;</span>Remove Filters</button>
  </ng-template>
</ng-template>
<!-- <form *ngIf="filters" [formGroup]="searchProductsForm"> -->
<!-- <mat-checkbox></mat-checkbox> -->

<!-- <input
      type="checkbox"
      formControlName="brandCheckbox"
      (click)="isChecked()"
    /><label> Brands </label>

    <div *ngIf="brandsChecked">
      <div formArrayName="brands">
        <div *ngFor="let brand of getBrands.controls; let i = index">
          <div [formGroupName]="i">
            <input type="text" formControlName="brand" class="list-input" />
            <button *ngIf="brandsFields > 0" (click)="removeOption(i)">
              -
            </button>
          </div>
        </div>
        <button *ngIf="brandsFields < 2" (click)="addNewBrand()">+</button>
      </div>
    </div>
    <button class="search-button" (click)="searchForm()">Search</button>
  </form> -->
