@import "../../styles.css";

.form-container{
  display:flex;
  flex-direction: column;

}

.item-label{
  display: flex;
  gap: 5px;

}

.search-button {
	padding: 10px;
  margin: 10px;
	background-color: var(--header-color);
	border-radius: 20px;
	width: 100%
}

.list-input {
	display: flex;
	flex-direction: column;
	background-color: var(--form-background-color);
	border: none;
	padding: 10px;
	margin: 5px;
	border-radius: 4px;
	width: 250px;
}

input:focus {
	outline: none;
}

button{
  background: none;
  border:none;
}

.array-items{
  display:flex;


}
