<form [formGroup]="searchProductsForm">
  <input
    type="checkbox"
    formControlName="brandCheckbox"
    (click)="isBrandChecked()"
  />
  <label> Brands </label>
  <div *ngIf="brandsChecked">
    <input type="text" formControlName="brand" class="list-input" />
  </div>

  <input
    type="checkbox"
    formControlName="productCheckbox"
    (click)="isProductChecked()"
  />
  <label> Product Type </label>
  <div *ngIf="productsChecked">
    <input type="text" formControlName="productType" class="list-input" />
  </div>

  <input
    type="checkbox"
    formControlName="wordCheckbox"
    (click)="isKeyWordChecked()"
  />
  <label> Key Words</label>
  <div *ngIf="keyWordsChecked">
    <div formArrayName="keyWords">
      <div *ngFor="let word of getKeyWords.controls; let i = index">
        <div [formGroupName]="i">
          <input type="text" formControlName="keyWord" class="list-input" />
          <button (click)="removeOption(i)">-</button>
        </div>
      </div>
      <button (click)="addNewWord()">+</button>
    </div>
  </div>

  <button class="search-button" (click)="searchForm()">Search</button>
</form>
