.grid-container {
	display: grid;
  width: 80vw;
  grid-template-columns: 20% 40% 10% 10% 5% 5% 10%;
  grid-template-areas: "image titles amount price increase decrease";
  border: 1px solid grey;

  justify-items: center;
  align-items:center;
  margin: auto;
  padding: 10px;
  box-sizing: content-box;
}

.basket-image{
  grid-area: image;

}

.title-img{
  grid-area: image;
}

.item-titles {
  grid-area: titles;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.horizontal-bar{
  height:5px;
  width: 100%;
  background-color: var(--header-color);
  margin-bottom: 10px;
}

/* Maybe grid for the basket?? */

/* need to check items don't get added more than once
item quantity can only be increased from the basket
this quantity must be saved so when fetched it is correct */
