<div class="search-form-container">
  <button class="search-button" (click)="searchAllProducts()">
    Search All Products
  </button>
  <button (click)="selectFilters()"><span>&#8609;</span>filters</button>
  <form *ngIf="filters" [formGroup]="searchProductsForm">
    <!-- <mat-checkbox></mat-checkbox> -->
    <div FormArrayName="brands">
      <input
        type="checkbox"
        formControlName="brandCheckbox"
        (click)="isChecked()"
      /><label> Brands </label>
      <div *ngIf="brandsChecked">
        <ng-container *ngFor="let brand of getBrands.controls; let i = index">
          <input type="text" FormControlName="i" class="list-input" />
          <button *ngIf="brandsFields > 0" (click)="removeOption(i)">-</button>
        </ng-container>
        <button *ngIf="brandsFields < 2" (click)="addNewBrand()">+</button>
      </div>
    </div>
    <button class="search-button" (click)="searchForm()">Search</button>
  </form>
</div>
